.summary {
    margin-bottom: 5px;
    text-align: right;
}
span.required {
    color: #ff0000;
}
/*div.da-panel,*/
div.da-panel-widget {
    margin-bottom:20px;
    position:relative;

    /* CSS 3 */

    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

    -webkit-transition:all 100ms ease-out;
    -o-transition:all 100ms ease-out;
    -moz-transition:all 100ms ease-out;
    transition:all 100ms ease-out;
}
/*div.da-panel .da-panel-content,*/
div.da-panel-widget {
    background-color:white;
    background-image:url(../img/panel-content.png);
    background-repeat:repeat-x;
    background-position:left top;
    border:1px solid #bfbfbf;
}
/*div.da-panel .da-panel-content.with-padding,*/
div.da-panel-widget {
    padding:1em 1.2em;
}
